<form method="get" action ="@Url.Action("Index", "Home")">
    
    
    <div class="input-group">
        <input class="form-control" type="text" name="SearchTerm" placeholder="Search Product" />
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
               Search
            </button>
            
        </div>
    </div>
   
</form>
